In [55]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import sklearn
from sklearn import preprocessing
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import GridSearchCV,StratifiedKFold
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC,SVR

In [57]:
TRAIN_PATH = 'Desktop/data/kaggle_titanic/train.csv'
TEST_PATH = 'Desktop/data/kaggle_titanic/test.csv'

In [ ]:
#uncomment for full dataset output
#pd.set_option('display.max_rows',None,'display.max_columns',None)
#pd.set_option('display.width', 1000)
#pd.reset_option('all')

In [58]:
train_data = pd.read_csv(TRAIN_PATH)
test_data = pd.read_csv(TEST_PATH)

In [69]:
#extracting titles from 'Name' column and grouping titles in the same domain
def map_titles(df):
    title = df['Name'].apply(lambda name: name.split(',')[1].split('.')[0].strip())
    df['Title'] = title
    
    new_titles = {
        "Capt": "Officer",
        "Col": "Officer",
        "Major": "Officer",
        "Jonkheer": "Royalty",
        "Don": "Royalty",
        "Sir": "Royalty",
        "Dr": "Officer",
        "Rev": "Officer",
        "the Countess": "Royalty",
        "Dona": "Royalty",
        "Mme": "Mrs",
        "Mlle": "Miss",
        "Ms": "Mrs",
        "Mr": "Mr",
        "Mrs": "Mrs",
        "Miss": "Miss",
        "Master": "Master",
        "Lady": "Royalty"
    }
    
    df['Title'] = df['Title'].map(new_titles)

In [70]:
#return titles from 'Name' column
def get_title(df):
    title = df['Name'].apply(lambda name: name.split(',')[1].split('.')[0].strip())
    return title

#group titles into common domains
def map_new_titles(df):
    titles = {
        "Capt": "Officer",
        "Col": "Officer",
        "Major": "Officer",
        "Jonkheer": "Royalty",
        "Don": "Royalty",
        "Sir": "Royalty",
        "Dr": "Officer",
        "Rev": "Officer",
        "the Countess": "Royalty",
        "Dona": "Royalty",
        "Mme": "Mrs",
        "Mlle": "Miss",
        "Ms": "Mrs",
        "Mr": "Mr",
        "Mrs": "Mrs",
        "Miss": "Miss",
        "Master": "Master",
        "Lady": "Royalty"
    }
    
    new_titles = df['Title'].map(titles)
    return new_titles

In [71]:
def fill_null_age(df):
    temp = df.groupby(['Pclass','Title']).median()['Age']
    df.set_index(['Pclass','Title'],drop=False,inplace = True)
    df['Age'].fillna(temp,inplace=True)
    df.reset_index(drop=True,inplace=True)

In [72]:
map_titles(train_data)
map_titles(test_data)

In [80]:
fill_null_age(train_data)
fill_null_age(test_data)

In [81]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
Title            0
dtype: int64

In [ ]:
test_data.isnull().sum()